/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
/.vscode
*.tmp
*.depend
*.o
*.a
*.o.d
*.o.cmd
*.a.cmd
*.ko.cmd
*.ko
*.mod
*.mod.c
*.mod.cmd
*.order
*.orig
*.symvers.cmd
*.order.cmd
test/ivs_test
user_mode/libivs.so
Module.symvers
out/
output/
obj/
dependencies/
